run = "npm start"
entrypoint = "server.js"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm install"]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
